.courseItem {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      gap: 20px;

      list-style: none;

      backdrop-filter: blur(1.8px);

      box-shadow: 1px 1px 4px 1px #A1A1A1;

      border: none;
      
      border-radius: 8px 8px 8px 8px;

      cursor: pointer;
      
   }

   .courseSubcontainer {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      background-color: white;

   }

   .coursesPills {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      gap: 10px;

      width: 90%;
      height: 100px;
      padding: 5px;

      overflow-y: scroll;

      background-color: white;

      border-top: 2px dashed lightgray;
     
   }

   .pillTextContainer {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

   }

   .pillItem {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      height: 42px;
      width: 95%;

      margin: 0 auto;

      padding: 0 5px;

      box-shadow: 1px 1px 4px 3px #A1A1A1;

      border-radius: 8px;

   }

   .pillText {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 40px;

      height: 42px;

      margin: 0;

      transform: skew(160deg); 

      border-left: 2px solid gray;

      background-color: lightgray;

      .itemIcon {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         height: 10px;

         gap: 3px; 
   
         .pillTitle {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            height: 10px;

            margin: 0;
      
            font-size: 8px;

         }
      }

      
      .durationText {
               
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         .pillDurationTitle {
         
            font-weight: 600;
            font-size: 14px;

            margin: 0;

            width: 100%;

            color: blue;

         }

         .pillDurationTitleFrozy {
         
            font-weight: 600;
            font-size: 14px;

            margin: 0;

            width: 100%;

            color: white;

         }
      }

      .pillTitleValue {
         
         font-weight: 600;
         font-size: 14px;

         margin: 0;

         width: 100%;

         color: blue;

      }
   }

   .pillTextDuration {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 40px;

      height: 42px;

      margin: 0;

      transform: skew(160deg); 

      border-left: 2px solid gray;

      background-color: lightgray;

      .itemIcon {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         height: 10px;

         gap: 3px; 
   
         .pillTitle {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            height: 10px;

            margin: 0;
      
            font-size: 10px;

         }
      }

      
      .durationText {
               
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         .pillDurationTitle {
         
            font-weight: 600;
            font-size: 16px;

            margin: 0;

            width: 100%;

            color: blue;

         }

         .pillDurationTitleFrozy {
         
            font-weight: 600;
            font-size: 16px;

            margin: 0;

            width: 100%;

            color: white;

         }
      }

      .pillTitleValue {
         
         font-weight: 600;
         font-size: 14px;

         margin: 0;

         width: 100%;

         color: blue;

      }
   }

   .pillName {

      margin: 0;
      font-style: italic;
      background-color: white;

      overflow-x: scroll;
   }

   .title {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      height: 100%;

      text-align: center;
      font-weight: 600;

   }

   .registryInfo {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      gap: 5px;

      width: 90%;

      padding: 5px;
      margin: 0;

      color: #646cff;

      border: 2px solid white;
      border-radius: 8px;
   }

   .infoItem {

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      gap: 5px;

      height: 20px;
      width: 95%;

      margin: 0 auto;
      padding: 0 3px;

      background-color: white;

      border: 1px dashed lightgray;
      border-radius: 5px;

   }

   .nameItem {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      width: 90%;

      margin-bottom: 0;

      overflow-x: hidden;


   }

   .nameItemTitle {

      font-size: 20px;
      font-weight: 600;

      margin: 0;

      color: blue;

   }

   .nameText {

      font-weight: 600;

      padding: 3px;

      background-color: white;

      border-radius: 8px;
   }

   .visit {
      text-align: start;
      font-size: 12px;
   }

   

   .titleValue {

      display: flex;
      align-items: center;
      justify-content: center;

      height: 15px;

      font-style: italic;

      height: 100%;

      color: black;

   }

   /*######### status #########*/
   .status {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .statusContainer {

         display: flex;
         align-items: center;
         justify-content: center;

         height: 50px;
         width: 50px;

         background-color: lightgray;

         border-radius: 50%;

         .statusIndicator {

            width: 80%;
            height: 80%;
      
            border-radius: 50%;
      
            background-color: white;
      
            .statusItem {
      
               display: flex;
               align-items: center;
               justify-content: center;

               width: 100%;
               height: 100%;
      
               margin: 0;

               border-radius: 50%;
      
               background-color: lightgray;
      
               .statusTitle {

                  display: flex;
                  align-items: center;
                  justify-content: center;

                  width: 100%;
                  height: 100%;

                  font-weight: 600;

                  background-image: radial-gradient(circle farthest-side at 75% 40%, lightblue , white );

                  border-radius: 50%;
            
               }
      
            }
         
         }
         
      }

      .statusText {
         margin: 0;
      }

   }

//******************************@media rules************************************

//-------------------(min-width: 500px) and (max-width: 768px)-----------------
@media screen and (min-width: 500px) and (max-width: 768px) {
   .courseItem {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      gap: 20px;

      list-style: none;

      backdrop-filter: blur(1.8px);

      box-shadow: 1px 1px 4px 1px #A1A1A1;

      border: none;
      
      border-radius: 8px 8px 8px 8px;

      cursor: pointer;
      
   }

   .courseSubcontainer {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      background-color: white;

   }

   .nameItem {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      margin-bottom: unset;

      width: 90%;

      margin: 0;

      overflow-x: hidden;
   }

   .coursesPills {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      gap: 10px;

      width: 90%;
      height: 100px;
      padding: 5px;

      overflow-y: scroll;

      background-color: white;

      border-top: 2px dashed lightgray;
     
   }
   .registryInfo {

      width: 90%;

   }

   .pillText {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 50px;

      height: 42px;

      margin: 0;

      transform: skew(160deg); 

      border-left: 2px solid gray;

      background-color: lightgray;

      .itemIcon {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         height: 10px;

         gap: 3px; 
   
         .pillTitle {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            height: 10px;
      
            font-size: 10px;

         }
      }

      
      .durationText {
               
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         .pillDurationTitle {
         
            font-weight: 600;
            font-size: 16px;

            margin: 0;

            width: 100%;

            color: blue;

         }

         .pillDurationTitleFrozy {
         
            font-weight: 600;
            font-size: 16px;

            margin: 0;

            width: 100%;

            color: white;

         }
      }

      .pillTitleValue {
         
         font-weight: 600;
         font-size: 16px;

         margin: 0;

         width: 100%;

         color: blue;

      }
   }


   .pillTextDuration {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 50px;

      height: 42px;

      margin: 0;

      transform: skew(160deg); 

      border-left: 2px solid gray;

      background-color: lightgray;

      .itemIcon {
      
         .pillTitle {

            font-size: 10px;

         }
      }

      
      .durationText {

         .pillDurationTitle {
         
            font-size: 18px;

         }

         .pillDurationTitleFrozy {
        
            font-size: 18px;

         }
      }

      .pillTitleValue {
  
         font-size: 18px;

      }
   }

   .durationText {
               
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .pillDurationTitle {
      
         font-weight: 600;
         font-size: 16px;

         margin: 0;

         width: 100%;

         color: blue;

      }

      .pillDurationTitleFrozy {
      
         font-weight: 600;
         font-size: 16px;

         margin: 0;

         width: 100%;

         color: white;

      }
   }

   .pillTitleValue {
         
      font-weight: 600;
      font-size: 16px;

      margin: 0;

      width: 100%;

      color: blue;

   }

}

//-------------------(min-width: 768px) and (max-width: 1439px)-----------------
@media screen and (min-width: 768px) and (max-width: 1439px) {

   .courseItem {

      display: flex;
      flex-direction: row;

      border-radius: 8px 0 0 8px;
   }

   .nameItem {
      padding-left: 10px;
      width: 170px;
      margin-bottom: 16px;
   }

   .courseSubcontainer {
  
      flex-direction: row;

      width: 80%;

   }

   .coursesPills {

      width: 50%;

      border-left: 2px dashed lightgray;
      border-top: none;
   }

   .registryInfo {

      width: 200px;
   }

   .pillText {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 50px;

      height: 42px;

      margin: 0;

      transform: skew(160deg); 

      border-left: 2px solid gray;

      background-color: lightgray;

      .itemIcon {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         height: 10px;

         gap: 3px; 
   
         .pillTitle {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            height: 10px;
      
            font-size: 10px;

         }
      }

      
      .durationText {
               
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         .pillDurationTitle {
         
            font-weight: 600;
            font-size: 18px;

            margin: 0;

            width: 100%;

            color: blue;

         }

         .pillDurationTitleFrozy {
         
            font-weight: 600;
            font-size: 18px;

            margin: 0;

            width: 100%;

            color: white;

         }
      }

      .pillTitleValue {
         
         font-weight: 600;
         font-size: 18px;

         margin: 0;

         width: 100%;

         color: blue;

      }
   }

   .pillTextDuration {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 50px;

      height: 42px;

      margin: 0;

      transform: skew(160deg); 

      border-left: 2px solid gray;

      background-color: lightgray;

      .itemIcon {
      
         .pillTitle {

            font-size: 10px;

         }
      }

      
      .durationText {

         .pillDurationTitle {
         
            font-size: 18px;

         }

         .pillDurationTitleFrozy {
        
            font-size: 18px;

         }
      }

      .pillTitleValue {
  
         font-size: 18px;

      }
   }


   .durationText {
               
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .pillDurationTitle {
      
         font-weight: 600;
         font-size: 18px;

         margin: 0;

         width: 100%;

         color: blue;

      }

      .pillDurationTitleFrozy {
      
         font-weight: 600;
         font-size: 18px;

         margin: 0;

         width: 100%;

         color: white;

      }
   }

   .pillTitleValue {
         
      font-weight: 600;
      font-size: 18px;

      margin: 0;

      width: 100%;

      color: blue;

   }
}

//-------------------min-width: 1440px----------------------------
@media screen and (min-width: 1440px) {

   .courseItem {

      display: flex;
      flex-direction: row;

      border-radius: 8px 0 0 8px;
   }

   .nameItem {
      padding-left: 10px;
      width: 170px;
      margin-bottom: 16px;
   }

   .courseSubcontainer {
  
      flex-direction: row;

      width: 80%;

   }

   .coursesPills {

      width: 50%;

      border-left: 2px dashed lightgray;
      border-top: none;
   }

   
   .registryInfo {

      width: 200px;
   }

   .pillText {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 50px;

      height: 42px;

      margin: 0;

      transform: skew(160deg); 

      border-left: 2px solid gray;

      background-color: lightgray;

      .itemIcon {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         height: 10px;

         gap: 3px; 
   
         .pillTitle {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            height: 10px;
      
            font-size: 10px;

         }
      }

      .durationText {
               
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         .pillDurationTitle {
         
            font-weight: 600;
            font-size: 18px;

            margin: 0;

            width: 100%;

            color: blue;

         }

         .pillDurationTitleFrozy {
         
            font-weight: 600;
            font-size: 18px;

            margin: 0;

            width: 100%;

            color: white;

         }
      }

      .pillTitleValue {
         
         font-weight: 600;
         font-size: 18px;

         margin: 0;

         width: 100%;

         color: blue;

      }
   }

   .pillDurationTitle {
      
      font-weight: 600;
      font-size: 18px;

      margin: 0;

      width: 100%;

      color: blue;

   }

   .pillDurationTitleFrozy {
   
      font-weight: 600;
      font-size: 18px;

      margin: 0;

      width: 100%;

      color: white;

   }

   .pillTitleValue {
         
      font-weight: 600;
      font-size: 18px;

      margin: 0;

      width: 100%;

      color: blue;

   }
   
}
//******************************end************************************