
   .courseAddboard {
        
      height: fit-content;

      margin-bottom: 20px;
   }

   input {
      border: 1px dashed gray;
   }

   .course {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      margin-bottom: 20px;
   }

   .infoContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 10px;
   }

   .docContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
   }

   .cliContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
   }

   .visitContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: end;
   }

   .pillsContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;

      gap: 10px;
   }

   .courseButton {

      margin-left: 100px;

      transform: skew(160deg); 

      box-shadow: 1px 1px 3px 3px #B2B2B3;
   }

