   .newButton {

      margin-bottom: 10px;
      
   }
   
   .courseItem {

      width: 100%;

      border-radius: 8px;

      background-image: url('../../../images/courses/pills-svgrepo-com.svg');
   }

   .courses {

      padding: 10px;

      box-shadow: 1px 1px 4px 3px #A1A1A1;

   }

   .coursesList {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      gap: 15px;

      margin: 0;
      
      padding: 10px 5px;

      height: 200px;

      border-top: 2px solid lightgray;
      border-bottom: 2px solid lightgray;
   
      list-style: none;

      background-position: center;

      overflow-y: scroll;

   }

   .searchContainer {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .coursesDrive {

         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         gap: 10px;

         padding: 10px 0;

         margin-bottom: 5px;

      }

      .courseDashboard {

         display: flex;
         align-items: center;
         
         width: 200px;
         height: 50px;

         margin-bottom: 5px;
   
      }

      .coursesInfo {

         display: flex;
         justify-content: center;
         align-items: center;

         width: 200px;
         height: 30px;

         margin-bottom: 5px;

         box-shadow: 1px 1px 4px 3px lightgray;

         .text {

            font-weight: 600;
            font-style: italic;

            color: #646cff;

         }

      }
   

   }

   

   .coursesButton {

      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;

      border: none;
      outline: none;

      border-radius: 50px;

      background-color: transparent;

   }

   .coursesButton:active {

      box-shadow: inset 1px 1px 3px 3px lightgray;
   }

   .coursesButton:focus {

      outline: none;

   }

   .coursesButton:hover {

      outline: none;
      background-color: #f9f9f9;
   }

 
   .modalContainer{

      display: flex; 
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      gap: 50px;
      
      width: 100%;
      height: 100%;
     
      .dashContainer {

         display: flex; 
         flex-direction: column;
         justify-content: center;
         align-items: center;

         gap: 20px;

         width: 50%;
         height: 100%;

         .dashSelect {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            gap: 10px;

            width: 50%;
            margin: 0 auto;
         }

         .select {

            width: 200px;

            .react-dropdown-select-dropdown {

               width: 100%;
               
            }
         }

         .modalList {

            display: flex;
            align-items: center;
            justify-content: center;

            flex-wrap: wrap;
            column-gap: 10px;
            row-gap: 10px;
      
            list-style: none;
      
            padding: 0;
      
            width: 70%;

            margin: 0 auto;

            .item {

               display: flex;
               align-items: center;
               justify-content: center;
      
               width: 25px;
               height: 25px;

               font-size: 14px;
               font-weight: 600;

               color: white;
      
               background-color: lightgray;
         
               border-radius: 50%;

               cursor: pointer;

               transform: scale 300ms;
               transition: 400ms;
            }

            .item:hover {
               scale: 1.3;
            }
      
         }

         .currentDay {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            gap: 5px;

            font-size: 18px;
            font-weight: 600;

            width: 65%;

            margin: 0 auto;

            color: #646cff;

            .currentDayData {

               display: flex;
               align-items: center;
               justify-content: center;

               width: 30px;
            }

            .currentDayButton {

               width: 60px;
               height: 25px;

               padding: 0;

               border-radius: 8px;

               background-color: lightgray;

            }

            .currentDayButton:focus {
               outline: none;
            }

         }

         .modalDashbord {

            .startButton {

               background-color: yellowgreen;

            }

            .startButton:focus {
               outline: none;
            }

         }
      }

      .dayContainer {

         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         gap: 40px;
         
         width: 50%;
         height: 100%;

         .dayDone {

            display: flex;
            align-items: center;
            justify-content: center;

            width: 150px;
            height: 150px;

            background-color: lightgray;

            border-radius: 50%;

            .dayDoneContent {

               display: flex;
               align-items: center;
               justify-content: center;

               width: 100px;
               height: 100px;

               background-color: white;

               border-radius: 50%;

               .doneDay {
                  font-size: 16px;
               }

               .perDay {

                  font-size: 20px;
                  font-weight: 600;

               }
            }
         }
      }
   }