   .newButton {

      margin-bottom: 10px;
      
   }
   
   .courseItem {

      width: 100%;

      border-radius: 8px;

      background-image: url('../../../images/courses/pills-svgrepo-com.svg');
   }

   .courses {

      height: 90vh;

      padding: 10px;

      box-shadow: 1px 1px 4px 3px #A1A1A1;

   }

   .coursesList {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      gap: 15px;

      margin: 0;
      
      padding: 10px 5px;

      height: fit-content;

      border-top: 2px solid lightgray;
      border-bottom: 2px solid lightgray;
   
      list-style: none;

      background-position: center;

      overflow-y: scroll;

   }

   .searchContainer {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .coursesDrive {

         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;

         gap: 10px;

         padding: 10px 0;

         margin-bottom: 5px;

      }

      .courseDashboard {

         display: flex;
         align-items: center;
         
         width: 200px;
         height: 50px;

         margin-bottom: 5px;
         .search {

            input {

               font-size: 14px;

               text-align: center;

               padding: 0 5px;

               height: 25px;
               border: 1px solid lightgray;
               border-radius: 8px;

            }

            input:focus {
               outline: none;
            } 

         }
   
      }

      .coursesInfo {

         display: flex;
         justify-content: center;
         align-items: center;

         width: 200px;
         height: 30px;

         margin-bottom: 5px;

         // box-shadow: 1px 1px 4px 3px lightgray;

         .text {

            font-weight: 600;
            font-style: italic;

            color: #646cff;

         }

      }
   

   }

   .coursesButton {

      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;

      border: none;
      outline: none;

      border-radius: 50px;

      background-color: transparent;

   }

   .coursesButton:active {

      box-shadow: inset 1px 1px 3px 3px lightgray;
   }

   .coursesButton:focus {

      outline: none;

   }

   .coursesButton:hover {

      outline: none;
      background-color: #f9f9f9;
   }

 
   .modalContainer {

      display: flex; 
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 100%;

      .infoZone {

         width: 100%;
         height: 20%;

         .today {

            width: fit-content;

            margin: 0 auto 20px auto; 

            .todayTitle {

               font-size: 24px;
               font-weight: 600;

               color: #646cff;

            }

            .todayDate {

               font-size: 18px;
               font-weight: 600;

               color: yellowgreen;

            }

            .todayMonth {

               font-size: 18px;
               font-weight: 600;

               color: yellowgreen;

            }

         }
         .actualMonths {

            display: flex; 
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            font-weight: 600;
            // color: #646cff;

            margin: 0; 

         }
         .infoSymbols {

            display: flex; 
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;

            .infoBall {

               display: flex; 
               flex-direction: column;
               justify-content: space-between;
               align-items: center;
   
               gap: 5px;

               width: 30%;

               .ballContainer {
                  
                  display: flex; 
                  flex-direction: row;
                  justify-content: stretch;
                  align-items: center;

                  gap: 10px;

                  width: 100%;

                  .text {

                     margin: 0;

                  }
               }

               .infoRed {
                  
                  width: 15px;
                  height: 15px;
   
                  background-color: tomato;
   
                  border: 2px solid #646cff;
   
                  border-radius: 50%;
   
               }
   
               .infoRedOrange {
                  
                  width: 15px;
                  height: 15px;
   
                  background: linear-gradient(-45deg, tomato 50%, #FDB12D 50%);
   
                  border: 2px solid #646cff;
   
                  border-radius: 50%;
   
               }
   
               .infoOrange {
                  
                  width: 15px;
                  height: 15px;
   
                  background-color: #FDB12D;
   
                  border: 2px solid #646cff;
   
                  border-radius: 50%;
   
               }
   
               .infoGreen {
                  
                  width: 15px;
                  height: 15px;
   
                  background-color: yellowgreen;
   
                  border: 2px solid #646cff;
   
                  border-radius: 50%;
   
               }
   
            }
           
         }
         
      }

      .workZone {

         display: flex; 
         flex-direction: row;
         justify-content: space-around;
         align-items: center;

         gap: 50px;
         
         width: 100%;
         height: 100%;
     
         .dashContainer {

            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 20px;

            width: 50%;
            height: 100%;

            .dashSelect {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: center;

               gap: 10px;

               width: 50%;
               margin: 0 auto;
            }

            .select {

               width: 200px;

               .react-dropdown-select-dropdown {

                  width: 100%;
                  
               }
            }

            .modalList {

               display: flex;
               align-items: center;
               justify-content: center;

               flex-wrap: wrap;
               column-gap: 10px;
               row-gap: 10px;
         
               list-style: none;
         
               padding: 0;
         
               width: 70%;

               margin: 0 auto;

               .item {

                  display: flex;
                  align-items: center;
                  justify-content: center;
         
                  width: 25px;
                  height: 25px;

                  font-size: 14px;
                  font-weight: 600;

                  color: white;
         
                  background-color: lightgray;
            
                  border-radius: 50%;

                  cursor: pointer;

                  transform: scale 300ms;
                  transition: 300ms;
               }

               .item:hover {
                  scale: 1.3;
               }
         
            }

            .currentDay {

               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: center;

               gap: 5px;

               font-size: 18px;
               font-weight: 600;

               width: 65%;

               margin: 0 auto;

               color: #646cff;

               .currentDayData {

                  display: flex;
                  align-items: center;
                  justify-content: center;

                  width: 30px;
               }

               .currentDayButton {

                  width: 60px;
                  height: 25px;

                  padding: 0;

                  border-radius: 8px;

                  background-color: lightgray;

               }

               .currentDayButton:focus {
                  outline: none;
               }

            }

            .modalDashbord {

               .startButton {

                  background-color: yellowgreen;

               }

               .startButton:focus {
                  outline: none;
               }

            }
         }

         .dayContainer {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: 40px;
            
            width: 50%;
            height: 100%;

            .dayDone {

               display: flex;
               align-items: center;
               justify-content: center;

               width: 150px;
               height: 150px;

               background-color: lightgray;

               border-radius: 50%;

               .dayDoneContent {

                  display: flex;
                  align-items: center;
                  justify-content: center;

                  width: 100px;
                  height: 100px;

                  background-color: white;

                  border-radius: 50%;

                  .doneDay {
                     font-size: 16px;
                  }

                  .perDay {

                     font-size: 20px;
                     font-weight: 600;

                  }
               }
            }
         }

      }
   }

   .messageContainer {

      display: flex;
      justify-content: center;
      align-items: center;

      gap: 20px;

      width: 100%;

   }