   .addPillsContainer {

      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
        
      height: 100px;

      padding: 0;

   }

   .pills {

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        width: 40%;
        height: 100%;
   }

   .inputContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;  
   }

   .pillsInfo {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        gap: 10px;

   }

   .pillInput {

        width: 55px;
        border: 1px dashed gray;
   }

   .pillsButton {

        width: fit-content;
        height: 45px;

        padding: 0 5px;

        margin-left: 20px;

        transform: skew(160deg); 

        box-shadow: 1px 1px 3px 3px #B2B2B3;

    }

    .pillsContainer {

        width: 60%;
        height: 100px;
        border: 1px solid gray;

        padding: 0;

        overflow-y: scroll;

        border: 1px dashed gray;
    }

    .pillsList {

        display: flex;
        flex-direction: column;

        justify-content: start;

        gap: 5px;
        width: 95%;

        padding: 5px 15px;
        margin: auto 0;

    }

    .pillsItem {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        height: 30px;

        padding: 5px;

        list-style: none;
       
        background-color: lightgray;
    }

    .pillsText {

        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 0;
        gap: 10px;

        color: #646cff;

        transition: color 200m;
    }

    .pillsText:hover {

        cursor: pointer;
       
        color: white;
      
    }

    .itemButton {
        padding: 0 5px;
    }

    .itemInput {
        width: 20px;
        border: none;
    }
